# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [2]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
csvPath = '../output_data/cities.csv'

cities_df = pd.read_csv('../output_data/cities.csv')
cities_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Upernavik,72.7868,-56.1549,263.85,60,13,2.60,GL,1635203150
1,1,Kavieng,-2.5744,150.7967,301.84,69,98,1.62,PG,1635203150
2,2,Halifax,44.6453,-63.5724,282.09,81,100,2.24,CA,1635203038
3,3,Bredasdorp,-34.5322,20.0403,287.55,90,34,4.92,ZA,1635203151
4,4,Mar del Plata,-38.0023,-57.5575,288.16,62,0,1.79,AR,1635203151
...,...,...,...,...,...,...,...,...,...,...
540,540,Parfen'yevo,58.4840,43.4088,274.71,95,100,5.82,RU,1635203386
541,541,Takaka,-40.8500,172.8000,289.57,66,95,2.12,NZ,1635203122
542,542,Caçador,-26.7753,-51.0150,287.02,84,0,0.87,BR,1635203088
543,543,Chateaubelair,13.2833,-61.2500,299.98,74,100,7.89,VC,1635203387
544,544,Tirumullaivāsal,11.2333,79.8333,300.18,74,100,4.14,IN,1635203388

In [4]:
cities_df.info('Humidity')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     545 non-null    int64
 1   City        545 non-null    object
 2   Lat         545 non-null    float64
 3   Lng         545 non-null    float64
 4   Max Temp    545 non-null    float64
 5   Humidity    545 non-null    int64
 6   Cloudiness  545 non-null    int64
 7   Wind Speed  545 non-null    float64
 8   Country     542 non-null    object
 9   Date        545 non-null    int64
dtypes: float64(4), int64(4), object(2)
memory usage: 42.7+ KB

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
# Use the Lat and Lng as locations and Humidity as the weight.


# Store latitude and longitude in locations
locations = cities_df[["Lat", "Lng"]]
humidity = cities_df['Humidity'].astype(float)

# Add Heatmap layer to map.

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Create new DataFrame fitting weather criteria

# Narrow down the cities to fit weather conditions.
# Drop any rows will null values.

narrCities_df = cities_df.loc[(cities_df["Max Temp"] > 294) & (cities_df["Max Temp"] < 299)  & 
                                 (cities_df["Wind Speed"] < 10)& 
                                 (cities_df["Cloudiness"] == 0)]

narrCities_df = narrCities_df.dropna(how='any')
narrCities_df.reset_index(inplace=True)
del narrCities_df['index']
narrCities_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,11,Aswān,24.0934,32.9070,296.27,33,0,5.07,EG,1635203153
1,81,Port Hedland,-20.3167,118.5667,298.18,78,0,4.12,AU,1635203178
2,104,Bela,25.9333,81.9833,294.60,71,0,1.90,IN,1635203190
3,197,Hetauda,27.4284,85.0322,294.79,81,0,1.83,NP,1635203230
4,238,Imbituba,-28.2400,-48.6703,294.09,83,0,5.44,BR,1635203012

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
# Store into variable named hotel_df.
# Add a "Hotel Name" column to the DataFrame.

hotel_df = narrCities_df.copy()
hotel_df["Hotel Name"] = ""
hotel_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,11,Aswān,24.0934,32.9070,296.27,33,0,5.07,EG,1635203153,
1,81,Port Hedland,-20.3167,118.5667,298.18,78,0,4.12,AU,1635203178,
2,104,Bela,25.9333,81.9833,294.60,71,0,1.90,IN,1635203190,
3,197,Hetauda,27.4284,85.0322,294.79,81,0,1.83,NP,1635203230,
4,238,Imbituba,-28.2400,-48.6703,294.09,83,0,5.44,BR,1635203012,
5,260,Sarankhola,22.3082,89.7897,294.68,85,0,1.66,BD,1635203260,
6,420,Pasni,25.2631,63.4710,297.62,63,0,2.44,PK,1635203335,
7,430,General Pico,-35.6566,-63.7568,297.03,18,0,2.61,AR,1635203339,
8,434,Ibrā’,22.6906,58.5334,297.26,60,0,0.94,OM,1635203342,
9,531,Santa Cruz do Capibaribe,-7.9575,-36.2047,295.64,75,0,5.81,BR,1635203382,

In [8]:
# Set parameters to search for hotels with 5000 meters.
# Hit the Google Places API for each city's coordinates.
# Store the first Hotel result into the DataFrame.
# Plot markers on top of the heatmap.

# geocoordinates
target_search = "hotel"
target_radius = 5000
target_type = "hotel"

# set up a parameters dictionary
params = {
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=params)

# print the response url, avoid doing for public github repos in order to avoid exposing key
print(response.url)

https://maps.googleapis.com/maps/api/place/nearbysearch/json?keyword=hotel&radius=5000&type=hotel&key=AIzaSyCI4f9j_qPSSVaw7AyoDIM3SSJK4JntmLo

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [10]:
# Add marker layer ontop of heat map


# Display figure