# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [6]:
csvPath = '../output_data/cities.csv'

cities_df = pd.read_csv(csvPath).set_index('City_ID')
cities_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
City_ID,,,,,,,,,
0,Hutchinson,38.0608,-97.9298,298.05,67,1,0.45,US,1635012141
1,Hermanus,-34.4187,19.2345,287.54,70,62,3.64,ZA,1635012161
2,Honiara,-9.4333,159.9500,297.81,83,21,1.48,SB,1635012163
3,Punta Arenas,-53.1500,-70.9167,278.77,81,69,12.92,CL,1635012103
4,Rimbey,52.6334,-114.2353,278.06,97,100,2.02,CA,1635012164
...,...,...,...,...,...,...,...,...,...
525,Demba,-5.5100,22.2667,297.38,65,62,1.27,CD,1635012316
526,Creel,27.7500,-107.6333,291.29,27,0,5.93,MX,1635012317
527,Doba,8.6500,16.8500,297.68,78,46,2.07,TD,1635012317
528,Tazmalt,36.3868,4.3989,291.78,78,81,2.78,DZ,1635012317
529,Egvekinot,66.3167,-179.1667,260.31,80,100,3.27,RU,1635012318

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure